#if (!${templateAlreadyLoaded})
<script class='jasperreports'>
    jasperreports.global.appendScriptElementToDOM('_jiveColumnI18n', '${jiveColumnI18n_js}');
    
    jasperreports.events.subscribeToEvent(
    	'jive.interactive.column.i18n.init', 
    	jasperreports.global.appendScriptElementToDOM, 
    	['_jiveScript', '${jasperreports_tableHeaderToolbar_js}','jive.init', [{actionBaseData: '${actionBaseData}',actionBaseUrl: '${actionBaseUrl}'}]]
    );
    
    jasperreports.global.appendStyleElementToDOM('_jiveCSS', '${jasperreports_tableHeaderToolbar_css}');
</script>
<div id="jive_overlay" style="display:none;">
    <div></div>
</div>
<div id="jive_marker" style="display:none;">
    <div id="jive_marker_icon">&nbsp;</div>
    <div style="position:absolute;top:0;right:6px;bottom:0;left:-6px;"></div>
</div>
<div class="jive_drag_label" style="background:#eee;border:solid 1px #555;padding:8px;display:none;"></div>
<div id="jive_foobar" class="" style="display:none;"></div>
<div id="jive_menus"></div>
<div id="jive_dropdown"></div>
<div id="jive_forms"></div>
<div id="jive_dialog" class="jive_dialog" style="display:none;">
    <div class="dialogContent">
        <div class="dialogHeader">
            <div class="tabContainer"></div>
            <h2><span class="dialogTitle"></span></h2>
        </div>
        <div class="dialogBody" style="text-align:left;">

        </div>
        <div class="dialogFooter">
            <button id="dialogOk" class="button action primary up"><span class="wrap">$msgProvider.getMessage('net.sf.jasperreports.components.headertoolbar.dialog.ok')<span class="icon"></span></span></button>
            <button id="dialogCancel" class="button action up"><span class="wrap">$msgProvider.getMessage('net.sf.jasperreports.components.headertoolbar.dialog.cancel')<span class="icon"></span></span></button>
        </div>
    </div>
</div>
<div id="jive_colorpicker" class="jive_dialog" style="display:none;">
    <div class="dialogContent">
        <div class="dialogHeader">
            <h2>Pick a color</h2>
        </div>
        <div class="dialogBody" style="text-align:left;">
            <table>
                <tbody>
                <tr>
                    <td><div class="colorpick" hexcolor="980000" style="background-color: rgb(152, 0, 0);  " title="RGB (152, 0, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="ff0000" style="background-color: rgb(255, 0, 0);  " title="RGB (255, 0, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="ff9900" style="background-color: rgb(255, 153, 0);  " title="RGB (255, 153, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="ffff00" style="background-color: rgb(255, 255, 0);  " title="RGB (255, 255, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="00ff00" style="background-color: rgb(0, 255, 0);  " title="RGB (0, 255, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="00ffff" style="background-color: rgb(0, 255, 255);  " title="RGB (0, 255, 255)"></div></td>
                    <td><div class="colorpick" hexcolor="4a86e8" style="background-color: rgb(74, 134, 232);  " title="RGB (74, 134, 232)"></div></td>
                    <td><div class="colorpick" hexcolor="0000ff" style="background-color: rgb(0, 0, 255);  " title="RGB (0, 0, 255)"></div></td>
                    <td><div class="colorpick" hexcolor="9900ff" style="background-color: rgb(153, 0, 255);  " title="RGB (153, 0, 255)"></div></td>
                    <td><div class="colorpick" hexcolor="ff00ff" style="background-color: rgb(255, 0, 255);  " title="RGB (255, 0, 255)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="000000" style="background-color: rgb(0, 0, 0);  " title="RGB (0, 0, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="434343" style="background-color: rgb(67, 67, 67); " title="RGB (67, 67, 67)"></div></td>
                    <td><div class="colorpick" hexcolor="666666" style="background-color: rgb(102, 102, 102); " title="RGB (102, 102, 102)"></div></td>
                    <td><div class="colorpick" hexcolor="999999" style="background-color: rgb(153, 153, 153);  " title="RGB (153, 153, 153)"></div></td>
                    <td><div class="colorpick" hexcolor="b7b7b7" style="background-color: rgb(183, 183, 183);  " title="RGB (183, 183, 183)"></div></td>
                    <td><div class="colorpick" hexcolor="cccccc" style="background-color: rgb(204, 204, 204);  " title="RGB (204, 204, 204)"></div></td>
                    <td><div class="colorpick" hexcolor="d9d9d9" style="background-color: rgb(217, 217, 217);  " title="RGB (217, 217, 217)"></div></td>
                    <td><div class="colorpick" hexcolor="efefef" style="background-color: rgb(239, 239, 239);  " title="RGB (239, 239, 239)"></div></td>
                    <td><div class="colorpick" hexcolor="f3f3f3" style="background-color: rgb(243, 243, 243);  " title="RGB (243, 243, 243)"></div></td>
                    <td><div class="colorpick" hexcolor="ffffff" style="background-color: rgb(255, 255, 255);  " title="RGB (255, 255, 255)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="e6b8af" style="background-color: rgb(230, 184, 175);  " title="RGB (230, 184, 175)"></div></td>
                    <td><div class="colorpick" hexcolor="f4cccc" style="background-color: rgb(244, 204, 204);  " title="RGB (244, 204, 204)"></div></td>
                    <td><div class="colorpick" hexcolor="fce5cd" style="background-color: rgb(252, 229, 205);  " title="RGB (252, 229, 205)"></div></td>
                    <td><div class="colorpick" hexcolor="fff2cc" style="background-color: rgb(255, 242, 204);  " title="RGB (255, 242, 204)"></div></td>
                    <td><div class="colorpick" hexcolor="d9ead3" style="background-color: rgb(217, 234, 211);  " title="RGB (217, 234, 211)"></div></td>
                    <td><div class="colorpick" hexcolor="d0e0e3" style="background-color: rgb(208, 224, 227);  " title="RGB (208, 224, 227)"></div></td>
                    <td><div class="colorpick" hexcolor="c9daf8" style="background-color: rgb(201, 218, 248);  " title="RGB (201, 218, 248)"></div></td>
                    <td><div class="colorpick" hexcolor="cfe2f3" style="background-color: rgb(207, 226, 243);  " title="RGB (207, 226, 243)"></div></td>
                    <td><div class="colorpick" hexcolor="d9d2e9" style="background-color: rgb(217, 210, 233);  " title="RGB (217, 210, 233)"></div></td>
                    <td><div class="colorpick" hexcolor="ead1dc" style="background-color: rgb(234, 209, 220);  " title="RGB (234, 209, 220)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="dd7e6b" style="background-color: rgb(221, 126, 107);  " title="RGB (221, 126, 107)"></div></td>
                    <td><div class="colorpick" hexcolor="ea9999" style="background-color: rgb(234, 153, 153);  " title="RGB (234, 153, 153)"></div></td>
                    <td><div class="colorpick" hexcolor="f9cb9c" style="background-color: rgb(249, 203, 156);  " title="RGB (249, 203, 156)"></div></td>
                    <td><div class="colorpick" hexcolor="ffe599" style="background-color: rgb(255, 229, 153);  " title="RGB (255, 229, 153)"></div></td>
                    <td><div class="colorpick" hexcolor="b6d7a8" style="background-color: rgb(182, 215, 168);  " title="RGB (182, 215, 168)"></div></td>
                    <td><div class="colorpick" hexcolor="a2c4c9" style="background-color: rgb(162, 196, 201);  " title="RGB (162, 196, 201)"></div></td>
                    <td><div class="colorpick" hexcolor="a4c2f4" style="background-color: rgb(164, 194, 244);  " title="RGB (164, 194, 244)"></div></td>
                    <td><div class="colorpick" hexcolor="9fc5e8" style="background-color: rgb(159, 197, 232);  " title="RGB (159, 197, 232)"></div></td>
                    <td><div class="colorpick" hexcolor="b4a7d6" style="background-color: rgb(180, 167, 214);  " title="RGB (180, 167, 214)"></div></td>
                    <td><div class="colorpick" hexcolor="d5a6bd" style="background-color: rgb(213, 166, 189);  " title="RGB (213, 166, 189)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="cc4125" style="background-color: rgb(204, 65, 37);  " title="RGB (204, 65, 37)"></div></td>
                    <td><div class="colorpick" hexcolor="e06666" style="background-color: rgb(224, 102, 102);  " title="RGB (224, 102, 102)"></div></td>
                    <td><div class="colorpick" hexcolor="f6b26b" style="background-color: rgb(246, 178, 107);  " title="RGB (246, 178, 107)"></div></td>
                    <td><div class="colorpick" hexcolor="ffd966" style="background-color: rgb(255, 217, 102);  " title="RGB (255, 217, 102)"></div></td>
                    <td><div class="colorpick" hexcolor="93c47d" style="background-color: rgb(147, 196, 125);  " title="RGB (147, 196, 125)"></div></td>
                    <td><div class="colorpick" hexcolor="76a5af" style="background-color: rgb(118, 165, 175);  " title="RGB (118, 165, 175)"></div></td>
                    <td><div class="colorpick" hexcolor="6d9eeb" style="background-color: rgb(109, 158, 235);  " title="RGB (109, 158, 235)"></div></td>
                    <td><div class="colorpick" hexcolor="6fa8dc" style="background-color: rgb(111, 168, 220);  " title="RGB (111, 168, 220)"></div></td>
                    <td><div class="colorpick" hexcolor="8e7cc3" style="background-color: rgb(142, 124, 195);  " title="RGB (142, 124, 195)"></div></td>
                    <td><div class="colorpick" hexcolor="c27ba0" style="background-color: rgb(194, 123, 160);  " title="RGB (194, 123, 160)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="a61c00" style="background-color: rgb(166, 28, 0);  " title="RGB (166, 28, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="cc0000" style="background-color: rgb(204, 0, 0);  " title="RGB (204, 0, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="e69138" style="background-color: rgb(230, 145, 56);  " title="RGB (230, 145, 56)"></div></td>
                    <td><div class="colorpick" hexcolor="f1c232" style="background-color: rgb(241, 194, 50);  " title="RGB (241, 194, 50)"></div></td>
                    <td><div class="colorpick" hexcolor="6aa84f" style="background-color: rgb(106, 168, 79);  " title="RGB (106, 168, 79)"></div></td>
                    <td><div class="colorpick" hexcolor="45818e" style="background-color: rgb(69, 129, 142);  " title="RGB (69, 129, 142)"></div></td>
                    <td><div class="colorpick" hexcolor="3c78d8" style="background-color: rgb(60, 120, 216);  " title="RGB (60, 120, 216)"></div></td>
                    <td><div class="colorpick" hexcolor="3d85c6" style="background-color: rgb(61, 133, 198);  " title="RGB (61, 133, 198)"></div></td>
                    <td><div class="colorpick" hexcolor="674ea7" style="background-color: rgb(103, 78, 167);  " title="RGB (103, 78, 167)"></div></td>
                    <td><div class="colorpick" hexcolor="a64d79" style="background-color: rgb(166, 77, 121);  " title="RGB (166, 77, 121)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="85200c" style="background-color: rgb(133, 32, 12);  " title="RGB (133, 32, 12)"></div></td>
                    <td><div class="colorpick" hexcolor="990000" style="background-color: rgb(153, 0, 0);  " title="RGB (153, 0, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="b45f06" style="background-color: rgb(180, 95, 6);  " title="RGB (180, 95, 6)"></div></td>
                    <td><div class="colorpick" hexcolor="bf9000" style="background-color: rgb(191, 144, 0);  " title="RGB (191, 144, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="38761d" style="background-color: rgb(56, 118, 29);  " title="RGB (56, 118, 29)"></div></td>
                    <td><div class="colorpick" hexcolor="134f5c" style="background-color: rgb(19, 79, 92);  " title="RGB (19, 79, 92)"></div></td>
                    <td><div class="colorpick" hexcolor="1155cc" style="background-color: rgb(17, 85, 204);  " title="RGB (17, 85, 204)"></div></td>
                    <td><div class="colorpick" hexcolor="0b5394" style="background-color: rgb(11, 83, 148);  " title="RGB (11, 83, 148)"></div></td>
                    <td><div class="colorpick" hexcolor="351c75" style="background-color: rgb(53, 28, 117);  " title="RGB (53, 28, 117)"></div></td>
                    <td><div class="colorpick" hexcolor="741b47" style="background-color: rgb(116, 27, 71);  " title="RGB (116, 27, 71)"></div></td>
                </tr>
                <tr>
                    <td><div class="colorpick" hexcolor="5b0f00" style="background-color: rgb(91, 15, 0);  " title="RGB (91, 15, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="660000" style="background-color: rgb(102, 0, 0);  " title="RGB (102, 0, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="783f04" style="background-color: rgb(120, 63, 4);  " title="RGB (120, 63, 4)"></div></td>
                    <td><div class="colorpick" hexcolor="7f6000" style="background-color: rgb(127, 96, 0);  " title="RGB (127, 96, 0)"></div></td>
                    <td><div class="colorpick" hexcolor="274e13" style="background-color: rgb(39, 78, 19);  " title="RGB (39, 78, 19)"></div></td>
                    <td><div class="colorpick" hexcolor="0c343d" style="background-color: rgb(12, 52, 61);  " title="RGB (12, 52, 61)"></div></td>
                    <td><div class="colorpick" hexcolor="1c4587" style="background-color: rgb(28, 69, 135);  " title="RGB (28, 69, 135)"></div></td>
                    <td><div class="colorpick" hexcolor="073763" style="background-color: rgb(7, 55, 99);  " title="RGB (7, 55, 99)"></div></td>
                    <td><div class="colorpick" hexcolor="20124d" style="background-color: rgb(32, 18, 77);  " title="RGB (32, 18, 77)"></div></td>
                    <td><div class="colorpick" hexcolor="4c1130" style="background-color: rgb(76, 17, 48);  " title="RGB (76, 17, 48)"></div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dialogFooter">
        </div>
    </div>
</div>
<script class='jasperreports'>
	jasperreports.events.subscribeToEvent(
    	'jive.interactive.column.i18n.init',
    	jasperreports.global.appendScriptElementToDOM,
    	['_jiveColumnScript', '${jiveColumnScript}']
    );
    jasperreports.events.subscribeToEvent('jive.interactive.column.init', 'jive.interactive.column.setDynamicProperties', [{
	    fontSizes: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
	    fonts: {
			extension: [
			#set ($extFontSize=$fontExtensionsFontNames.size())
			#foreach ($fontName in ${fontExtensionsFontNames})
	        	'$JRStringUtil.escapeJavaScript($fontName)' #if($velocityCount<$extFontSize),#end
			#end
			],
			system: [
			#set ($sysFontSize=$systemFontNames.size())
			#foreach ($fontName in ${systemFontNames})
				'$JRStringUtil.escapeJavaScript($fontName)' #if($velocityCount<$sysFontSize),#end
			#end
			]
		}
    }]);
</script>
#end

#if (${exporterFirstAttempt})
    <script class='jasperreports'>
        jasperreports.events.subscribeToEvent('jive.interactive.column.init', 'jive.interactive.column.init', [${allColumnNames}, '${tableUUID}'], 'jive.interactive.column');
    </script>
#end

<script class='jasperreports'>
    jasperreports.events.subscribeToEvent('jive.init', 'jive.initInteractiveElement',[{
	#if (${isInteractive})
        id: '${popupId}',
        type: 'column',
        selector: '.columnHeader',
        proxySelector: '.column',
        columnIndex: ${columnIndex},
        columnLabel: '$JRStringUtil.escapeJavaScript(${columnLabel})',
        filterData: '{"actionName":"filter"}',
        clearData: '{"actionName":"filter","filterData":{"clearFilter":true}}',

        #if (!${canSort})
            headerToolbar: {
                sortAscBtn: {'@class': 'hidden'},
                sortDescBtn: {'@class': 'hidden'},
                filterBtn: {'@class': 'hidden'}
            },
            fPattern: {'@class': 'hidden'},
            formatPatternLabel: {'@class': 'hidden'},
            formatPatternSelector: {'@class': 'hidden', 'attr-disabled': 'disabled'},
            numberFormatButtons: {'@class': 'hidden'},
        #else
            headerToolbar: {
                sortAscBtn: {'data-hover': '${sortAscHover}', '@class': '${sortAscActive}', 'data-sortData': '{"actionName":"sort","sortData":${sortAscData}}'},
                sortDescBtn: {'data-hover': '${sortDescHover}', '@class': '${sortDescActive}', 'data-sortData': '{"actionName":"sort","sortData":${sortDescData}}'},
                filterBtn: {'data-hover': '${filterHover}',	'@class': '${filterActive}'	}
            },
            filterdiv: {
                filterColumnNameLabel: '$JRStringUtil.escapeJavaScript(${filterColumnNameLabel})',
                filterOperatorTypeValueSelector: [
                    #foreach( $entry in ${filterTypeValuesMap.entrySet()} )
                        {key: "$entry.key", val: "$entry.value"},
                    #end
                    null
                ],
                filterDivForm: ${filterData}
            },
            conditionalFormatting: ${conditionalFormattingData},
            #if (${hasPattern})
                formatPatternLabel: '${formatPatternLabel}',
                formatPatternSelector: [
                    #foreach( $entry in ${valuesFormatPatternMap.entrySet()} )
                        {key: "$entry.key", val: "$entry.value"},
                    #end
                    null
                ],
                #if (!${isNumeric})
                    numberFormatButtons: {'@class': 'hidden'},
                #end
            #else
                fPattern: {'@class': 'hidden'},
                formatPatternLabel: {'@class': 'hidden'},
                formatPatternSelector: {'@class': 'hidden', 'attr-disabled': 'disabled'},
                numberFormatButtons: {'@class': 'hidden'},
            #end
        #end
        headerToolbarMask: {'data-columnIndex': ${columnIndex}},
        headingsTabContent: ${colHeaderData},
        valuesTabContent: ${colValueData}
    #else
    	type: 'column',
        selector: '.columnHeader',
        proxySelector: '.column'
	#end
    }]);
</script>