button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}

#jive_overlay {
    position:absolute;
    z-index:9;
    border-top:solid 1px #AEB2B7;
    border-left:solid 1px #AEB2B7;
    border-bottom:solid 1px #AEB2B7;
}
#jive_overlay > div {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#c0c0c0;
    opacity:0.3;
    filter: alpha(opacity=30);
}
#jive_marker{
    position:absolute;
    width:10px;
    cursor: e-resize;
    border-left:dotted 1px #555;
    z-index:10;
}
#jive_marker_icon{
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/dragMarker.png);
    width:18px;
    height:16px;
    position:relative;
    top:-16px;
    left:-10px;
}
#jive_foobar {
    position:absolute;
    border:solid 1px #ccc;
    border-bottom:none;
    padding:0;
    height:20px;
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/foobar.bg.png) repeat-x #fff;
    background-position:0 1px;
    z-index:11;
}

.jive_foobar_button {
    margin:0;
    height:20px;
    padding:0;
    border:none;
    overflow:visible;
    background:transparent;
}

.jive_foobar_button.over {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_column_formatting_sprite.png);
}
.jive_foobar_button.pressed {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_column_formatting_sprite.png);
    background-position:0 -51px;
}

.jive_foobar_button .wrap {}

.jive_foobar_button .icon {
    display:inline-block;
    width:24px;
    height:16px;
    .display:inline;
    zoom:1;
    cursor:pointer;
}

.jive_dialog {
    position:absolute;
    z-index:2;
    border:solid 1px #ccc;
    background:#fff;
    -moz-box-shadow: 0 0 4px 4px rgba(51,51,51,0.5);
    -webkit-box-shadow: 0 0 4px 4px rgba(51,51,51,0.5);
    box-shadow: 0 0 4px 4px rgba(51,51,51,0.5);
    zoom:1;
    font-size: 11px;
    font-family: Arial;
}
.jive_dialog > div.msshadow  {
    position:absolute;
    top:-10px;
    left:-10px;
    right:10px;
    bottom:10px;
    background:#fff;
}

.jive_dialog .dialogHeader {
    position:relative;
    color: #0872A4;
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/column.header.png) repeat-x #e8e8e8;
    .border-top:solid 1px #e8e8e8;
}

.jive_dialog h2 {
    text-align: left;
    margin:0 0 0 10px;
    padding:0 4px;
    font-size:11px;
    line-height:28px;
}

.jive_dialog div.dialogBody {
    position:relative;
    padding:3px;
    zoom:1;
    height:auto;
}

.jive_dialog div.dialogFooter {
    position:relative;
    padding:8px;
    height:auto;
    text-align: left;
    border-top:solid 1px #d3d5d6;
    overflow:hidden;
.overflow:visible;
    }

.jive_dialog button {
    display:block;
    float:left;
    margin-top:0 !important;
    margin-right: 5px;
    margin-bottom:0 !important;
    cursor: pointer;
    border: 0;
    padding:0 15px 0 0;
    min-height: 28px;
    text-align: center;
}

.jive_dialog button > .wrap {
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 15px;
    font-size: 11px;
}

#jive_dropdown {
    position:absolute;
    z-index:3;
}

.pmenu {
    position:absolute;
    background:#fff;
    z-index:10000;
    border:solid 1px #ccc;
    text-align:left;
    list-style-type:none;
    min-width:130px;
    display:none;
    padding:0;
    margin:0;
    font-family: arial;
}

.pmenuitem {
    padding:0 12px;
    cursor:pointer;
    color:#666;
    height:24px;
    line-height:2em;
    font-size:12px;
}

.pmenuitem.hover {background:#fc870e; color:#fff;}

button.action {
    /* from(e7e7e7), to(c1c1c1) */
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.png) repeat-x;
    color: #666;
}

button.action.over {
    /* from(e4e0e0), to(5a5a5b) */
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.over.png) repeat-x;
}

button.action.pressed {
    /* from(e4e0e0), to(5a5a5b) */
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.pressed.png) repeat-x;
}

button.action.primary {
    /* from(3fb8fa), to(2881bb) */
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.primary.png) repeat-x !important;
    color: #fff;
}

button.action.primary.over {
    /* from(#faac1f), to(#f9771d) */
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.primary.over.png) repeat-x !important;
}

button.action.primary.pressed {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.primary.pressed.png) repeat-x !important;
}

div.dialogFooter button.disabled {
    background: #e7e7e7 !important;
    color:#aaa !important;
}

.tabContainer {
    position:absolute;
    right:8px;
    top:3px;
    z-index:2;
    width:auto;
}

.tab {
    display:inline-block;
    *display:inline;
    zoom:1;
    position:relative;
    height:19px;
    border-style: solid;
    border-width:1px;
}

/* multisheet tabs */
.tab.multisheet,
.tab.dialog {
    min-width:100px;
    cursor:pointer;
    white-space:nowrap;
    top:1px;
    border-color:#c5c5c5;
    border-bottom:transparent;
    background-color: #efefef;
    *margin-right:4px;
    *top:3px;
    margin: 0 2px;
}

.tab.multisheet span,
.tab.dialog span	{
    height:100%;
    min-width:100px;
    width:auto;
    line-height:19px;
    display:block;
    text-align:center;
    padding: 0 4px;
}

.tab.multisheet.active,
.tab.dialog.active {
    height:22px;
    top:1px;
    border:1px solid #c5c5c5;
    border-top:1px solid #c5c5c5;
    border-bottom:transparent;
}

.tab.multisheet.active span,
.tab.dialog.active span {
    line-height:23px;
    font-weight:bold;
    border:1px solid #f8f8f8;
    border-right:1px solid #ededed;
    border-bottom:1px solid #ededed;
    background: #ededed; /*fallback for non-CSS3 browsers*/
}

.tab.dialog.active span {
    background:#fff;
    border-bottom:1px solid #ffffff;
}

.jive_form table {
    margin-bottom:2px;
    border-collapse: collapse;
}

.jive_form td {
    background:#fff;
    padding:0;
    margin:0;
    vertical-align: top;
}

.jive_form td.jive_textLabel {
    text-align: center;
    vertical-align: middle;
}

div.thick.wrapper {position:relative;padding:10px 10px;z-index:1;overflow:hidden;}
div.wrapper {position:relative;padding:4px 10px;z-index:1;overflow:hidden;}

.jive_form input,
.jive_form select {
    font-size: 11px;
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    border-style: solid;
    border-width: 1px;
    border-top-color: #848484;
    border-right-color: #c1c1c1;
    border-bottom-color: #e1e1e1;
    border-left-color: #c1c1c1;
}

.jive_form input{height:21px;line-height:21px;}
.jive_form select{/*height:24px;line-height:24px;*/margin:4px 0;}

.jive_form input[type="radio"]{width:auto;height:auto;float:left;position:relative;display:block;border:none;}

.jive_form select.showList {height:auto; !important}
.jive_form select.wFreeText {margin-top:8px; !important}

.jive_form .colorbar {height:24px;border:solid 1px #ccc;}

.jive_inputLabel {float:left;position:relative;margin-left:8px;}

.jive_inputbutton {
    float:left;
    position:relative;
    cursor:pointer;
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/dialog_button_capsule_sprite.png);
    background-position: -50px 0;
    width:28px;
    height:28px;
    border-right:solid 1px #c1c1c1;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.jive_inputbutton.over {background-position:-50px -45px;}
.jive_inputbutton.pressed {background-position:-50px -103px;}
.jive_inputbutton.selected {background-position:-50px -154px;}
.jive_inputbutton.first {background-position: 0 0;}
.jive_inputbutton.first.over {background-position: 0 -45px;}
.jive_inputbutton.first.pressed {background-position: 0 -103px;}
.jive_inputbutton.first.selected {background-position: 0 -154px;}
.jive_inputbutton.last {background-position: -100px 0;border-right:none;}
.jive_inputbutton.last.over {background-position: -100px -45px;}
.jive_inputbutton.last.pressed {background-position: -100px -103px;}
.jive_inputbutton.last.selected {background-position: -100px -154px;}

.jive_inputbutton.drop {width:35px;background-position:-238px 0;}
.jive_inputbutton > div.colorpick {position:absolute;top:16px;margin-left:5px;height:4px;width:14px;}

.jive_listTextInputTouch {display:block;}

.jive_freeTextButton {
    float:right;
    position:relative;
    background:transparent;
    z-index:2;
    cursor:pointer;
}

.jive_bIcon {display:inline-block;.display:inline;zoom:1;width:20px;height:20px;margin:3px;}
.jive_freeTextButton .jive_bIcon {
    width:16px;
    height:16px;
    margin:6px;
}

.sortDescIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:3px -94px;
    top:2px;
    left:3px;
}
.sortAscIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:3px -63px;
}
.filterIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:4px -31px;
}
.formatIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:2px 2px;
}
.jive_foobar_button.over .sortDescIcon{
    background-position:-73px -94px;
}
.jive_foobar_button.over .sortAscIcon{
    background-position:-73px -63px;
}
.jive_foobar_button.over .filterIcon{
    background-position:-72px -31px;
}
.jive_foobar_button.over .formatIcon{
    background-position:-74px 2px;
}
.jive_foobar_button.disabled .sortDescIcon{
    background-position:-35px -94px;
}
.jive_foobar_button.disabled .sortAscIcon{
    background-position:-35px -63px;
}
.jive_foobar_button.disabled .filterIcon{
    background-position:-34px -31px;
}
.boldIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -3px;
}
.italicIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -49px;
}
.underlineIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -95px;
}
.leftIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -141px;
}
.centerIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -187px;
}
.rightIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -233px;
}
.currencyIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -279px;
    width: 23px;
}
.percentageIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -326px;
}
.commaIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -371px;
}
.increaseDecimalsIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -417px;
}
.decreaseDecimalsIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -463px;
}
.fontColorIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png) no-repeat;
    background-position:0 -507px;
    margin-left:5px;
    margin-top:1px;
    width:28px;
}

#jive_colorpicker {z-index:10000;}
#jive_colorpicker td {background:#fff;border:solid 1px #fff;}
#jive_colorpicker td.selected {background:#eee;border:solid 1px #eee;}
div.colorpick {width:16px;height:16px;margin:4px;cursor:pointer;}

.interactiveElement{cursor:pointer;}

div.ui-datepicker {font-size: 11px;}

