#jive_overlay {
    position:absolute;
    z-index:9;
    border-top:solid 1px #AEB2B7;
    border-left:solid 1px #AEB2B7;
    border-bottom:solid 1px #AEB2B7;
}
#jive_overlay > div {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#c0c0c0;
    opacity:0.3;
    filter: alpha(opacity=30);
}
#jive_marker{
    position:absolute;
    width:10px;
    cursor: e-resize;
    border-left:dotted 1px #555;
    z-index:10;
}
#jive_marker_icon{
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/dragMarker.png);
    width:18px;
    height:16px;
    position:relative;
    top:-16px;
    left:-10px;
}
#jive_foobar {
    position:absolute;
    border:solid 1px #ccc;
    border-bottom:none;
    padding:2px;
    height:16px;
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/foobar.bg.png) repeat-x #fff;
    background-position:0 1px;
    z-index:11;
}

.jive_foobar_button {
    margin:0 2px;
    height:16px;
    padding:0;
    border:none;
    overflow:visible;
    background:transparent;
}

.jive_foobar_button .wrap {}

.jive_foobar_button .icon {
    display:inline-block;
    width:24px;
    height:16px;
    .display:inline;
    zoom:1;
    cursor:pointer;
}

/* NEW */
/* the styles below target ONLY firefox */
@-moz-document url-prefix() {
	.jive_foobar_button {
		margin:0;
	}

	.jive_foobar_button .icon {
		width:22px;
	}
}

.jive_dialog {
    position:absolute;
    z-index:11;
    border:solid 1px #ccc;
    background:#fff;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.jive_dialog .dialogHeader {
    position:relative;
    color: #0872A4;
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/column.header.png) repeat-x #e8e8e8;
    .border-top:solid 1px #e8e8e8;
}

.jive_dialog h2 {
    text-align: left;
    margin:0;
    padding:0 4px;
    font-size:12px;
    line-height:28px;
}

.jive_dialog div.dialogBody {
    position:relative;
    padding:3px;
}

.jive_dialog div.dialogFooter {
    position:relative;
    padding:8px;
    height:auto;
    text-align: left;
    border-top:solid 1px #d3d5d6;
    overflow:hidden;
    .overflow:visible;
}

.jive_dialog button {
    display:block;
    float:left;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.pmenu {
    position:absolute;
    background:#fff;
    z-index:10000;
    border:solid 1px #ccc;
    text-align:left;
    list-style-type:none;
    width:120px;
    display:none;
}

.pmenuitem {
    padding-left:12px;
    cursor:pointer;
    color:#666;
    height:24px;
    line-height:2em;
    font-size:12px;
}

.pmenuitem.hover {background:#fc870e; color:#fff;}

button.action {
    /* from(e7e7e7), to(c1c1c1) */
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.png) repeat-x;
}

button.action.over {
    /* from(e4e0e0), to(5a5a5b) */
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.over.png) repeat-x;
}

button.action.pressed {
    /* from(e4e0e0), to(5a5a5b) */
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.pressed.png) repeat-x;
}

button.action.primary {
    /* from(3fb8fa), to(2881bb) */
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.primary.png) repeat-x;
}

button.action.primary.over {
    /* from(#faac1f), to(#f9771d) */
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.primary.over.png) repeat-x;
}

button.action.primary.pressed {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/action.primary.pressed.png) repeat-x;
}

div.dialogFooter button.disabled {
    background: #c1c1c1 !important;
    color:#ccc !important;
}

.tabContainer {
    position:absolute;
    right:8px;
    top:3px;
    z-index:2;
}

.tab {
    display:inline-block;
    position:relative;
    height:19px;
    border-style: solid;
    border-width:1px;
}

/* multisheet tabs */
.tab.multisheet,
.tab.dialog {
    width:100px;
    cursor:pointer;
    white-space:nowrap;
    top:1px;
    border-color:#c5c5c5;
    border-bottom:transparent;
    background-color: #efefef;
    *float:left; /* for IE 7 */
    *margin-right:4px;  /* for IE 7 */
    *top:3px; /* for IE 7*/
    margin: 0 2px;
}

.tab.multisheet span,
.tab.dialog span	{
    height:100%;
    line-height:19px;
    margin:0 auto;
    display:block;
    text-align:center;
}

.tab.multisheet.active,
.tab.dialog.active {
    height:22px;
    top:1px;
    border:1px solid #c5c5c5;
    border-top:1px solid #c5c5c5;
    border-bottom:transparent;
}

.tab.multisheet.active span,
.tab.dialog.active span {
    line-height:23px;
    font-weight:bold;
    border:1px solid #f8f8f8;
    border-right:1px solid #ededed;
    border-bottom:1px solid #ededed;
    background: #ededed; /*fallback for non-CSS3 browsers*/
}

.tab.dialog.active span {
    background:#fff;
    border-bottom:1px solid #ffffff;
}

.jive_form table {
    margin-bottom:2px;
    border-collapse: collapse;
}

.jive_form td {
	background:#fff;
	/*border:solid 1px #ccc;*/
    padding:0;
    margin:0;
    vertical-align: top;
    border:solid 1px #eee;
}

.jive_form td.jive_textLabel {
    text-align: center;
    vertical-align: middle;
}

div.thick.wrapper {position:relative;padding:10px 10px;z-index:1;overflow:hidden;}
div.wrapper {position:relative;padding:4px 10px;z-index:1;overflow:hidden;}

.jive_form input, .jive_form select {position:relative;width:100%;margin:0;padding:0;border:solid 1px #eee;}
.jive_form input{height:21px;}
.jive_form select{height:24px;}

.jive_form input[type="radio"]{width:auto;height:auto;float:left;position:relative;display:block;}

.jive_form select.showList {height:auto; !important}
.jive_form select.wFreeText {margin-top:8px; !important}

.jive_form .colorbar {height:24px;border:solid 1px #ccc;}
.jive_form .buttonbar {background:#fff;overflow:hidden;height:24px;border:solid 1px #ccc;}

.jive_inputLabel {float:left;position:relative;margin-left:8px;}
.jive_inputbutton {float:left;cursor:pointer;background:#fff;}
.jive_inputbutton_wrapper {text-align:center;border-left:solid 1px #ccc;background:transparent;}
.jive_inputbutton_wrapper.first {border-left:none;}
.jive_inputbutton.selected {background:#faac1f;color:#fff;}

.jive_listTextInputTouch {display:block;}

.jive_freeTextButton {
    float:right;
    position:relative;
    background:transparent;
    z-index:2;
    cursor:pointer;
}

.jive_bIcon {display:inline-block;.display:inline;zoom:1;width:20px;height:20px;margin:3px;}
.jive_freeTextButton .jive_bIcon {
    width:16px;
    height:16px;
    margin:6px;
}

.sortDescIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:0 -96px;
    top:2px;
    left:3px;
}
.sortAscIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:0 -65px;
}
.filterIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:0 -32px;
}
.formatIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:0 0;
}
.boldIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -4px;
}
.italicIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -50px;
}
.underlineIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -96px;
}
.leftIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -142px;
}
.centerIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -188px;
}
.rightIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -234px;
}
.currencyIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -280px;
    width: 23px;
}
.percentageIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -327px;
}
.commaIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -372px;
}
.increaseDecimalsIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -418px;
}
.decreaseDecimalsIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_formatting_sprite.png);
    background-position:0 -464px;
}
.editIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/edit.png);
}
.fontColorIcon {
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/fontColor.png) no-repeat;
}

#jive_colorpicker {z-index:10000;}
#jive_colorpicker td {background:#fff;border:solid 1px #fff;}
#jive_colorpicker td.selected {background:#eee;border:solid 1px #eee;}
div.colorpick {width:16px;height:16px;margin:4px;cursor:pointer;}

.columnHeader{cursor:pointer;}

