#if (${exporterFirstAttempt})
"${tableUUID}": {
	"id": "${tableUUID}",
	"type": "table",
	"module": "jive.table",
	"allColumnsData": ${allColumnNames}
	#if (!${templateAlreadyLoaded})
	, "genericProperties": {
		"fontSizes": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
		"fonts": {
			"extension": [#set ($extFontSize=$fontExtensionsFontNames.size())
			#foreach ($fontName in ${fontExtensionsFontNames}) "$JRStringUtil.escapeString4JavaScript($fontName)" #if($velocityCount<$extFontSize),#end#end
			],
			"system": [#set ($sysFontSize=$systemFontNames.size())
			#foreach ($fontName in ${systemFontNames}) "$JRStringUtil.escapeString4JavaScript($fontName)" #if($velocityCount<$sysFontSize),#end#end
			]
		}
	}
	#end	 
}, 
#end
"${columnUuid}": {
    "id": "${columnUuid}",
    "type": "column",
    "parentId": "${tableUUID}",
    "tableId": "${tableUUID}",
    "selector": ".jrcolHeader",
    "proxySelector": ".jrcel",
    "columnIndex": ${columnIndex},
    "columnLabel": "$JRStringUtil.htmlEncode(${columnLabel})",
    "filterData": {"actionName": "filter"},
    "clearData": {"actionName": "filter", "filterData": {"clearFilter": true}},
    "canSort": ${canSort},
    #if (${canSort})
    "headerToolbar": {
    	"sortAscBtn": {"sortData": {"actionName":"sort","sortData":${sortAscData}}},
        "sortDescBtn": {"sortData": {"actionName":"sort","sortData":${sortDescData}}}
    },
    #end
    "canFilter": ${canFilter},
    #if (${canFilter})
    "filtering": {
        "filterColumnNameLabel": "$JRStringUtil.htmlEncode(${filterColumnNameLabel})",
        "filterOperatorTypeValueSelector": [
            #foreach( $entry in ${filterTypeValuesMap.entrySet()} )
                {"key": "$entry.key", "val": "$entry.value"},
            #end
            null
        ],
        "filterData": ${filterData}
    },
    #end
    #if (${hasPattern})
        "formatPatternLabel": "${formatPatternLabel}",
        "formatPatternSelector": [
            #foreach( $entry in ${valuesFormatPatternMap.entrySet()} )
                {"key": "$entry.key", "val": "$entry.value"},
            #end
            null
        ],
    #end
    "canFormatConditionally": ${canFormatConditionally},
    #if (${canFormatConditionally})
    "conditionalFormatting": ${conditionalFormattingData},
    #end
    "headingsTabContent": ${colHeaderData},
    "valuesTabContent": ${colValueData}
}