#jivext_overlay {
    position:absolute;
    z-index:9;
    border-top:solid 1px #AEB2B7;
    border-left:solid 1px #AEB2B7;
    border-bottom:solid 1px #AEB2B7;
}

#jivext_overlay > div {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#c0c0c0;
    opacity:0.3;
    filter: alpha(opacity=30);
}

#jivext_foobar {
    position:absolute;
    border:solid 1px #ccc;
    border-bottom:none;
    padding:0;
    height:20px;
    background:url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/foobar.bg.png) repeat-x #fff;
    background-position:0 1px;
    z-index:11;
}

.jivext_foobar_button {
    margin:0;
    height:20px;
    padding:0;
    border:none;
    overflow:visible;
    background:transparent;
}

.jivext_foobar_button.over {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_column_formatting_sprite.png);
}

.jivext_foobar_button.pressed {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/button_column_formatting_sprite.png);
    background-position:0 -51px;
}

.jivext_foobar_button .wrap {}

.jivext_foobar_button .icon {
    display:inline-block;
    width:24px;
    height:16px;
    .display:inline;
    zoom:1;
    cursor:pointer;
}

.sortDescIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:3px -94px;
    top:2px;
    left:3px;
}
.sortAscIcon {
    background: url(${path}net/sf/jasperreports/components/headertoolbar/resources/images/jive/iv_format_button_sprite.png);
    background-position:3px -63px;
}

.jivext_foobar_button.over .sortDescIcon{
    background-position:-73px -94px;
}
.jivext_foobar_button.over .sortAscIcon{
    background-position:-73px -63px;
}
.jivext_foobar_button.disabled .sortDescIcon{
    background-position:-35px -94px;
}
.jivext_foobar_button.disabled .sortAscIcon{
    background-position:-35px -63px;
}
