<div class='jrcontainer' style='display: table-cell'></div>
<script class='jasperreports'>
    var report = null;
    
    require(["jasperreports-viewer"], function(Viewer) {
        var viewer = new Viewer({
            at: "jrcontainer",
            reporturi: "${reportUri}",
            async: ${async},
            page: "${page}"
        });

        report = viewer.loadReport();
    });
    
</script>