<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>JasperReports Viewer</title>
	<meta http-equiv="Content-Type" content="text/html; charset='UTF-8'"/>
	<style type="text/css">
		a {text-decoration: none}
	</style>
   	<script src='${contextPath}/jquery/js/jquery-1.7.1.min.js'></script>
   	<script src='${contextPath}/jquery/js/jquery-ui-1.8.18.custom.min.js'></script>
   	<script src='${jasperreports_global_js}'></script>
   	<script src='${jasperreports_reportViewerToolbar_js}'></script>
   	<script>
   		jasperreports.global.APPLICATION_CONTEXT_PATH = '${contextPath}';
   	</script>
   	<link type='text/css' rel='stylesheet' href='${contextPath}/jquery/theme/jquery.ui.all.css'></link> 
   	<link type='text/css' rel='stylesheet' href='${jasperreports_global_css}'></link>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000" bgcolor="#999999">
<div class='mainReportDiv' style='width: 100%; height: 100%; overflow: visible;'>
<table width="100%" cellpadding="5" cellspacing="0" border="0">
<tr>
  <td colspan="3" align="left" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000;">
<div id='${toolbarId}' class='toolbarDiv' style='display: table-cell;'
  data-url='${currentUrl}' 
  data-totalpages='' 
  data-currentpage=''> 
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td><img class='pageFirst disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/first.GIF" border="0"></td>
        <td><img class='pagePrevious disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/previous.GIF" border="0"></td>
        <td><img class='pageNext disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/next.GIF" border="0"></td>
        <td><img class='pageLast disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/last.GIF" border="0"></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><img class='undo disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/undo.GIF" border="0"></td>
        <td><img class='redo disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/redo.GIF" border="0"></td>
        <td width="100%">&nbsp;</td>
      </tr>
    </table>
</div>
<script type='text/javascript'>
  jasperreports.reportviewertoolbar.init('${toolbarId}');
</script>
  </td>
</tr>
<tr>
  <td width="50%">&nbsp;</td>
  <td align="center">
<div class='result' style='display: table-cell'>
