<script class='jasperreports'>
	require(["reportviewertoolbar"], function(reportviewertoolbar) {
		reportviewertoolbar.loadReport('${reportUrl}', '${jsonParamsObject}', '${toolbarId}');
	});
</script>