<div id='jrSortComponentFilterDialog' class='filterdiv' style='display: none;'>
    <div class='hidefilter' />
    <div class='filterDivForm'>
        <select class='filterOperatorTypeValueSelector' name='filterTypeOperator'>
        </select>
        <input class='filterValue filterValueStart type='text' name='fieldValueStart' style='width: 80px;' />
        <input class='filterValue filterValueEnd name='fieldValueEnd' style='width: 80px;' />
        <input class='submitFilter' type='button' value='Filter' />
        <input class='clearFilter' type='button' value='Clear' />
    </div>
</div>