"${mapCanvasId}": {
    "id": "${mapCanvasId}",
    "type": "googlemap",
    "module": "jasperreports-map",
    "instanceData" : {
        "requestParams": "${reqParams}",
        "latitude": ${latitude},
        "longitude": ${longitude},
        "zoom": ${zoom},
        "mapType": "${mapType}",
        "markerList": ${markerList},
        "pathsList": ${pathsList}
    }
}
