<div 
#if(${xhtml})
	style='position: absolute; left: ${elementX}; top: ${elementY}; width: ${elementWidth}px; height: ${elementHeight}px;
#else
	style='width: ${elementWidth}px; height: ${elementHeight}px;
#end
	#if(${backgroundColor}) 
		background-color: \#${backgroundColor};
	#end
'>
	<div id='${mapCanvasId}' style='width: 100%; height: 100%; overflow: auto'></div>
</div>

#if (${gotReportContext})
	<script class='jasperreports' type='text/javascript'>
		jasperreports.global.appendScriptElementToDOM('_mapScript', '${resourceMapJs}', 'jasperreports.map.initGoogleMaps');
		jasperreports.events.subscribeToEvent('jasperreports.map.init', 'jasperreports.map.showMap', ['${mapCanvasId}', '${latitude}', '${longitude}', ${zoom}, '${mapType}']);
	</script>
#else
	#if (${exporterFirstAttempt})
	<script class='jasperreports' src='http://maps.google.com/maps/api/js?sensor=false'></script>
	#end
	<script class='jasperreports' type='text/javascript'>
		new google.maps.Map(document.getElementById('${mapCanvasId}'), {
					zoom: ${zoom},
					center: new google.maps.LatLng('${latitude}', '${longitude}'), 
					mapTypeId: google.maps.MapTypeId.${mapType}
				});
	</script>
#end