<script class='jasperreports'>
/*	require(["reportviewertoolbar"], function(reportviewertoolbar) {
		reportviewertoolbar.loadReport('${reportUrl}', '${jsonParamsObject}', '${toolbarId}');
	});
*/

	require(['jasperreports-viewer'], function(Viewer){
        Viewer.load({
        	reporturl: '${reportUrl}',
        	serializedParams: '${jsonParamsObject}'
        });
    });
</script>