<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>JasperReports Viewer</title>
	<meta http-equiv="Content-Type" content="text/html; charset='UTF-8'"/>
	<style type="text/css">
		a {text-decoration: none}
	</style>
   	<script src='${contextPath}/javascript/require.js'></script>
   	<script>
   		requirejs.config({
   			baseUrl: "${contextPath}",
   			paths: {
   				"jasperreports-report": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/report/jasperreports-report.js",
   				"jasperreports-status-checker": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/report/jasperreports-status-checker.js",
   				"jasperreports-component-registrar": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/report/jasperreports-component-registrar.js",
   				"jasperreports-url-manager": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/util/jasperreports-url-manager.js",
   				"jasperreports-event-manager": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/util/jasperreports-event-manager.js",
   				"jasperreports-loader": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/util/jasperreports-loader.js",
   				"jasperreports-viewer": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/viewer/jasperreports-viewer.js",
   				"jasperreports-utils": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/util/jasperreports-utils.js",

   				jquery: "jquery/amd/jquery-1.10.1",
   				jqueryui: "jquery/amd/jqueryui-1.8.18",
   				jquerytimepicker: "jquery/amd/jquery-ui-timepicker-addon",
   				
   				jive: "${jive_js}",
   				jivei18n: "${jiveI18n_js}",

                "jive.column": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/jive/jive.column.js",
                "jive.table": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/jive/jive.table.js",
                "validator": "/jasperreports/servlets/resource?jr.resource=net/sf/jasperreports/web/servlets/resources/require/validator.js",

   				async: "javascript/async"
   			}
   		});
   		
   		/*require(['jasperreports'], function(jasperreports) {
	   		jasperreports.global.APPLICATION_CONTEXT_PATH = "${contextPath}";
   		});*/
   		
   	</script>
   	<link type='text/css' rel='stylesheet' href='${contextPath}/jquery/theme/jquery.ui.all.css'></link> 
   	<link type='text/css' rel='stylesheet' href='${jasperreports_global_css}'></link>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000" bgcolor="#999999">
<div class='mainReportDiv' style='width: 100%; height: 100%; overflow: visible;'>
<table width="100%" cellpadding="5" cellspacing="0" border="0">
<tr>
  <td colspan="3" align="left" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000;">
    <div id="toolbar" class='toolbarDiv' style='display: table-cell;'>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><img class='pageFirst disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/first.GIF" border="0"></td>
            <td><img class='pagePrevious disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/previous.GIF" border="0"></td>
            <td><img class='pageNext disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/next.GIF" border="0"></td>
            <td><img class='pageLast disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/last.GIF" border="0"></td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td><img class='undo disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/undo.GIF" border="0"></td>
            <td><img class='redo disabledViewerButton' src="${resourcesPath}net/sf/jasperreports/web/servlets/resources/viewer/redo.GIF" border="0"></td>
            <td width="100%">&nbsp;</td>
          </tr>
        </table>
    </div>
  </td>
</tr>
<tr>
  <td width="50%">&nbsp;</td>
  <td align="center">
