<div id="element${configuration.element.hashCode()}" class="jr_cvc_element" style="width: ${configuration.element.width}px; height: ${configuration.element.height}px;">
#if (!${configuration.isInteractiveViewer})
#if (${cssUri})
    <link rel="stylesheet" type="text/css" href="${cssUri}" title="Style">
#end
#foreach( $entry in ${scripts} )
    <script src="$entry"></script>
#end
    <script>
        require(["cv-component"], function(Comp) {
            new Comp({
                "id": "element${configuration.element.hashCode()}",
                "renderer" : "${module}",
                "instanceData" : ${configuration.instanceData}
            });
        });
    </script>
#end
</div>
