<div class='response'>
<div id='reportStatus' data-currentPage='${currentPage}' #if(${totalPages}) data-totalpages='${totalPages}' #end #if(${pageTimestamp}) data-pagetimestamp='${pageTimestamp}' #end></div>
<div class='result'>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td>
<td align="center" style="border-style: solid; border-width: 1px; border-color: #000000; background-color: #FFFFFF;">