<script class='jasperreports' type='text/javascript'>
	JasperReports.modules.global.appendScriptElementToDOM('_sortScript', '${resourceSortJs}', 'JasperReports.modules.sort.init');
</script>

<a href='${sortHref}'
	class='sortlink ${sortLinkClass}'
	data-resizecolumn='column_${filterColumnName}'
	#if (${isFilterable})
		data-filterid='${filterDivId}'
	#end
	style="display: table; position: absolute; left: ${elementX}; top: ${elementY};
		width: ${elementWidth}px; height: ${elementHeight}px; text-align: ${sortHandlerHAlign}; text-decoration: none;
		background-image: url('${transparentPixelSrc}'); 
		#if(${backgroundColor}) 
			background-color: \#${backgroundColor};
		#end
">
	<span style='display: table-cell; vertical-align: ${sortHandlerVAlign}'>
		<span style='color: #${sortHandlerColor}; font-size: ${sortHandlerFontSize}px;'>
			#if (${isSorted})
				<img class='sortSymbolImage' src='${sortSymbolResource}' data-src='${sortSymbolResource}' data-hover='${sortSymbolHoverResource}'/> 
			#end 
			#if (${isFiltered}) <img class='filterSymbolImage filterSymbol_${filterActiveInactive}' src='${filterSymbolImageResource}' /> #end
		</span>
	</span>
	
</a>

#if (${isFilterable})
<script class='jasperreports' type='text/javascript'>
	(function () {
		var gm = JasperReports.modules.global,
			uid = '${filterDivId}',
			arrFilterDiv = ["<div id='${filterDivId}' class='filterdiv' style='display: none;' data-forsortlink='${sortLinkClass}'>",
			                "<img class='hidefilter' src='${filterCloseDialogImageResource}' />",
			                "<form action='${filterFormAction}' action='GET' class='filterDivForm'>",
			                "	<input class='postable forClear' type='hidden' name='${filterTableNameParam}' value='${filterTableNameValue}' />",
			                "	<input class='postable filterField' type='hidden' name='${filterFieldParamName}' value='${filterColumnName}' />",
			                "	<input class='postable' type='hidden' name='${filterTypeParamName}' value='${filterTypeParamNameValue}' />",
			                	#if(${filterPatternParamValue})
			                "	<input class='postable' type='hidden' name='${filterPatternParamName}' value='${filterPatternParamValue}' />",
			                	#end
			                "	<label class='filterColumnNameLabel' for='${filterTypeOperatorParamName}'>${filterColumnNameLabel}</label>",
							"	<select class='postable filterOperatorTypeValueSelector' name='${filterTypeOperatorParamName}'>",
								#foreach( $entry in ${filterTypeValuesMap.entrySet()} )
									#set( $selected = "" )
									#if ($entry.key == ${filterTypeOperatorParamValue})
										#set( $selected = "selected='selected'" )
									#end
    						"	<option value='$entry.key' $selected >$entry.value</option>",
								#end
							"	</select>",
			                "	<input class='postable filterValue filterValueStart' type='text' name='${filterValueStartParamName}' value='${filterValueStartParamValue}' style='width: 80px;' />",
			                "	<input class='postable filterValue filterValueEnd #if (!${enableFilterEndParameter})hidden' disabled #else ' #end type='text' name='${filterValueEndParamName}'  value='${filterValueEndParamValue}' style='width: 80px;' />",
			                "	<input class='submitFilter' type='button' value='Filter' />",
			                "	<input class='forClear' type='hidden' name='${filterToRemoveParamName}' value='${filterToRemoveParamvalue}' />",
			                "	<input class='clearFilter' #if(!${isFiltered}) style='display:none;' #end type='button' value='Clear' />",
			                "</form>",
			                "</div>"];
			                
		gm.subscribeToEvent(gm.events.SORT_INIT.name, 'JasperReports.modules.sort.createFilterDiv', [uid, arrFilterDiv, '${filtersJsonString}']);
	} ());
</script>
#end